body
{
  margin: 0;
  color: blue;
  background-color: rgb(20, 19, 19);
}
/*45, 42, 42 */

.mainHeader
{

background-color: black;
color: red;
padding: 20px 30px;
width: 100%;
text-align: left;
font-size: 50px;
font-weight: bold;
box-sizing: border-box;
}

.upcoming
{
  padding-left: 0%;
  padding-top: 0%;
}

.subHeader
{
  background-color: rgb(30, 29, 29);
color: rgb(255, 255, 255);
padding: 20px 30px;
width: 100%;
text-align: left;
font-size: 24px;
font-weight: bold;
box-sizing: border-box;
}



table {

width: 100%;
border-collapse: collapse;
margin-top: 10px;
}
th, td {
border: 2px solid #818283;
padding: 10px;
text-align: left;
font-size: 14px;
}
.mainBG
{
  border-radius: 2%;
  padding: 1%;
  background-color: rgb(35, 34, 34);
  color: aliceblue;
  
 margin: 10%;
 margin-top: 5%;
 margin-bottom: 5%;
  
}

.secondBG
{
  border-radius: 2%;
  padding: 1%;
  background-color: rgb(35, 34, 34);
  color: aliceblue;
  margin: 10%;
  margin-top:0%;
 
}
.registerHeading
{
  font: bold;
  color: aliceblue;
  
}

.forms
{
  align-items: center;
}

.row1
{
  align-items: center;
  text-align: center;
  display: flex;
grid-template-columns: 1fr;
gap: 12px;



}
.row2
{

 display: flex;   
  gap: 20px;      
}

.form-group {
  
  flex: 1
}



.row {
  font-size: smaller;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  
}

.col {

  font-size: smaller;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.singleOption
{

  color: black;
background: #f8fafc;           
  padding: 15px 20px;           
  border-radius: 8px;            
  border: 1px solid #d1d5db;     
  margin-bottom: 20px;           
}

.singleTitle
{
  font-weight: bold;
  margin-bottom: 10px;
}
.multiOption
{
  color: black;
background: #f8fafc;           
  padding: 15px 20px;           
  border-radius: 8px;            
  border: 1px solid #d1d5db;     
  margin-bottom: 20px;           
}

.options
{
  display: flex;
  font-size: small;
  gap: 20px;
}


.button-container {
  display: flex;
  justify-content: center;   
  gap: 20px;                 
  margin-top: 20px;
}

.button-container button {
  width: 180px;             
  padding: 15px;             
  font-size: 16px;           
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.submit-btn {
  background-color: #1f6fa8;
  color: white;
}

.submit-btn:hover {
  background-color: #155a87;
}


.reset-btn {
  background-color: #6c757d;
  color: white;
}

.reset-btn:hover {
  background-color: #545b62;
}
